div(id="figure")
    img(src="images/headline-menu.jpg" alt="Image")
    span Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, labore aspernatur? Non, minima repellendus perferendis cumque deserunt explicabo exercitationem ipsa, architecto, tenetur quam eos expedita ea eaque porro quisquam sed!

div
    ul
        for idx in public.coffees._data
            li
                a(href="/coffees/#{idx.url}.html")
                    img(src="images/#{idx.image}" alt = "#{idx.name}")
                div
                    a(href="/coffees/#{idx}.html") #{idx.name}
                    p #{idx.short} $#{idx.price}
